<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Fabio Jeurissen{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/wedding.css') }}?3">
</head>
<body>
    <div class="p-3" style="color: #25344e; overflow: auto;">
        {% set total = 0 %}
        {% for response in responses %}
            {% if response.isPresent() %}
                {% set total = total + response.getAmount() %}
            {% endif %}
            <div class="p-1 flex">
                <div class="mr-3">{{ response.getAmount() }}</div>
                <div class="pr-2" {% if response.isPresent() %}style="color: green;"{% else %}style="color: red;"{% endif %}>{{ response.getNames() }}</div>
                <div>{{ response.getCreatedOn()|date('d/m/Y H:i') }}</div>
            </div>
        {% endfor %}
        <div class="p-1 flex">
            <div class="mr-3">{{ total }}</div>
            <div class="pr-2">TOTAAL</div>
        </div>
    </div>
</body>
</html>
